* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    background: linear-gradient(to bottom, #397fd4, #ff99cc);
    color: white;
    font-size: 28px;
}

#headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#headerContainer button {
    border: 2.5px solid white;
    border-radius: 5px;
    color: white;
    background-color: rgba(255, 0, 0, 0);
    padding: 7px 26px;
    text-align: center;
}

#headerContainer button:hover {
    cursor: pointer;
}

#headerContainer #formArea {
    display: flex;
    align-items: center;
}

#headerContainer #formArea button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#headerContainer input[type=text] {
    border: 2.5px solid white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 7px 23px;
}

#headerContainer #headerMid {
    text-align: center; 
}

#headerContainer #cityName {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

#headerContainer #dateContainer {
    font-size: 1.45rem;
}

#headerContainer #tempButton {
    margin-left: 110px;
    padding: 7px 85px;
}


#mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
}

#mainContainer img {
    max-width: 250px;
    max-height: 250px;
}

#secondaryTemp {
    display: flex;
    gap: 1rem;
    font-size: 1rem;
}

#infoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.2rem;
}

#infoContainer .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: rgba(64, 64, 64, 0.2);
    border-radius: 5px;
    height: 150px;
    width: 150px;
}

#infoContainer .cards .material-icons {
    font-size: 2.5rem;
}


